---
layout: default
author: Ricardo Adao
title: vRandomBites Homepage
published: true
post_date: 2018-09-05 14:07:00
categories: []
tags: []
---

<div class="posts">
{% for post in paginator.posts limit: site.postPerPage %}
    <h2>
        <img src="/assets/images/featured/{{ post.categories }}-50x50.png" alt="Featured Category {{ post.categories }}">
        <em><b>{{ post.date | date_to_string }}</b></em> >> <a href="{{ post.url }}">{{ post.title }}</a>
    </h2>
    {{ post.content | strip_html | truncatewords:50 }}
    <br>
    <a href="{{ post.url }}"><em>>> continue  reading</em></a>
{% endfor %}
</div>

<br>

{% include pagination.html %}
