<p><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
        style="display:inline-block;width:468px;height:60px"
        data-ad-client="ca-pub-7122794554902389"
        data-ad-slot="4298232345"></ins>
    <ins class="adsbygoogle"
        style="display:inline-block;width:468px;height:60px"
        data-ad-client="ca-pub-7122794554902389"
        data-ad-slot="1480497312"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script></p>