<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
  gtag('config', '{{ site.google_analytics }}', {
    'custom_map': {'dimension<Index>': 'dimension_name'}
    });
  gtag('event', 'page_view', { 'send_to': '{{ site.google_analytics }}' });
  gtag('event', 'any_event_name', {'dimension_name': 'dimension_value'});
</script>
