<div class="js-comments">
		{% if site.repository and site.staticman.branch %}
			<section class="constrain">
				<h3>Write a comment:</h3>
				{% include comments_form.html %}
			</section>
		 
			{% if site.data.comments[page.slug] %}
				{% assign comments = site.data.comments | sort %}
				<section class="constrain">
						<h3>Comments</h3>
				</section>

				<header class="section-title">
						<h3>{% if site.data.comments[page.slug].size > 1 %}{{ site.data.comments[page.slug] | size | append: ' ' }}{% endif %}Comments</h3>
				</header>
				{% assign comments = site.data.comments[page.slug] | sort | where_exp: 'comment' %}
			
				{% for comment in comments %}
					{% assign commentData = comment[1] %}
					<article class="comment mdl-card mdl-shadow--2dp">
						<div class="mdl-card__title">
							<h2 class="mdl-card__title-text">{{ commentData.name }}</h2>
						</div>
						<div class="mdl-card__supporting-text">
							<p><strong>Email: </strong>{{ commentData.email }}</p>
							<div class="comment__message">
								{{ commentData.message | markdownify }}
							</div>
						</div>
					</article>
				{% endfor %}
			{% endif %}
		{% endif %}
</div>