{% unless page.comments_locked == true or site.comments_locked == true %}
  <!-- Start comment form -->
  <div id="respond" class="comment__form">
    <h2 class="title"><span id="comment-heading-text">Leave a comment</span> <button class="btn" id="cancel-comment-reply-link" style="display:none;">Cancel reply</button></h2>
    <form id="comment-form" class="page__comments-form js-form form" method="post" action="{{ site.comments.staticman.endpoint | default: 'https://api.staticman.net/v2/entry/' }}{{ site.repository }}/{{ site.comments.staticman.branch }}/comments">

      <div class="form__group">
        <label for="comment-form-name">Name
          <input type="text" id="comment-form-name" name="fields[name]" required spellcheck="false" placeholder="Your name">
        </label>
        <label for="comment-form-email">E-mail
          <input type="email" id="comment-form-email" name="fields[email]" required spellcheck="false" placeholder="email@domain.com">
        </label>
        <label for="comment-form-url">Website (optional)
          <input type="url" id="comment-form-url" name="fields[url]" placeholder="https://domain.com">
        </label>
      </div>

      {% if site.comments.staticman.notifications %}
      <div>
        <p class="small"><input type="checkbox" name="options[subscribe]" value="email">Send me an email when someone comments on this post.</p>
      </div>
      {% endif %}

      <div class="notice" style="margin-bottom: 1em">
          Your email address is used to display your <a href="https://en.gravatar.com">Gravatar</a>, if applicable,
          and subscribe you to replies using the <a href="https://www.mailgun.com">Mailgun</a> web service,
          which you are free to unsubscribe from when you get any emails.
          Your email address will not be displayed publicly or shared with anyone else.
      </div>
      {% if site.comments.moderated %}
      <div class="notice" style="margin-bottom: 1em">
          <strong>Comments are moderated.</strong> Your comment will be reviewed by a human before being posted to
          this page. Any comment made for the purpose of advertising will not be approved.
      </div>
      {% endif %}
      <div class="form__group">
        <label for="comment-form-message">Comment
          <textarea type="text" rows="6" id="comment-form-message" name="fields[message]" required spellcheck="true" placeholder="Your message"></textarea>
        </label>
      </div>
      <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}#comments">
      <input type="hidden" id="comment-replying-to" name="options[parent]" value>
      <input type="hidden" id="comment-post-id" name="options[slug]" value="{{ page.slug }}">
      {% if site.reCaptcha.siteKey %}<input type="hidden" name="options[reCaptcha][siteKey]" value="{{ site.reCaptcha.siteKey }}">{% endif %}
      {% if site.reCaptcha.secret %}<input type="hidden" name="options[reCaptcha][secret]" value="{{ site.reCaptcha.secret }}">{% endif %}
      {% if site.reCaptcha.siteKey %}
      <div class="form-group">
        <div class="g-recaptcha" data-sitekey="{{ site.reCaptcha.siteKey }}"></div>
      </div>
      {% endif %}
      <div class="form-group">
        <button type="submit" id="comment-form-submit" tabindex="5" class="btn btn--primary btn--large">{{ site.data.ui-text[site.locale].comment_btn_submit | default: "Submit Comment" }}</button>
      </div>
    </form>
    <div class="hidden js-notice notice">
      <p class="js-notice-text"></p>
    </div>
  </div>
  <!-- End comment form -->

  {% if site.reCaptcha.siteKey %}<script async src="https://www.google.com/recaptcha/api.js"></script>{% endif %}
  
{% else %}
  <div class="notice">
    <h4>Comments are closed</h4>
    <!--<p>If you have a question concerning the content of this page, please feel free to <a href="/contact/">contact me</a>.</p>-->
  </div>
{% endunless %}
