<form method="post" action="{{ site.api_staticman }}/v2/entry/{{ site.repository }}/{{ site.staticman.branch }}/comments">
    <input name="options[redirect]" type="hidden" value="{{ site.url }}{{ page.url }}">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">

    <label><input name="fields[name]" type="text">Name</label>
    <label><input name="fields[email]" type="email">E-mail</label>
    <label><textarea name="fields[message]"></textarea>Message</label>  
  
    <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ site.staticman.reCaptcha.siteKey }}">
    <input type="hidden" name="options[reCaptcha][secret]" value="{{ site.staticman.reCaptcha.secret }}">

    <div class="g-recaptcha" data-sitekey="{{ site.staticman.reCaptcha.siteKey }}"></div>

    <button type="submit">Submit</button>
  </form>

  <script src='https://www.google.com/recaptcha/api.js'></script>