<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google.g4_measurement_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config',
       '{{ site.analytics.google.g4_measurement_id }}',
       {
        'anonymize_ip': {{ site.analytics.google.anonymize_ip | default: false }},
        'page_title' : '{{ page.title }}',
        'page_location' : '{{ site.url }}/{{ page.url }}',
        'page_path' : '{{ page.path }}',
        'cookie_flags' : 'Max-Age=7200; SameSite=None; Secure',
        'cookieDomain' : 'auto',
        'cookieExpires' : '7200'
       }
  );
</script>
