---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


/* Comments */

label {
    margin-top: 0;
    margin-bottom: .725rem;
  }
  
  input,label,textarea {
    display: block;
    width: 100%
  }
  
  input,textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: .75em .5em;
    vertical-align: top;
    overflow: visible;
    font-family: Helvetica,Arial,sans-serif;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: .25em;
    -webkit-appearance: none
  }
  
  .form__group {
    display:-webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 -.5em 1em
  }
  
  .form__group > * {
    padding-left: .5em;
    padding-right: .5em
  }
  
  .form__group.g-recaptcha > * {
    margin-left: .5em;
    padding: 0
  }
  
  .btn:visited,[type=submit]:visited {
    color: #fff
  }
  
  .btn:active,[type=submit]:active {
    -webkit-transform: scale(.95);
    transform: scale(.95)
  }
  
  .comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
  
  .comment+.comment {
    margin-top: 2em
  }
  
  .comment.child {
    margin-left: 40px
  }
  
  @media (min-width: 48em) {
    .comment.child {
        margin-left:80px
    }
  }
  
  .comment__avatar {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  @media (min-width: 48em) {
    .comment__avatar {
        margin-right:20px;
        width: 60px;
        height: 60px
    }
  }
  
  .comment__avatar img {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: none;
  }
  
  @media (min-width: 48em) {
    .comment__avatar img {
        width:60px;
        height: 60px
    }
  }
  
  .no-js img.lazyload {
    display: none
  }
  
  .lazyload,.lazyloading {
    opacity: 0
  }
  
  .lazyloaded {
    opacity: 1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s
  }
  
  .comment__main {
    min-width: calc(100% - 40px)
  }
  
  @media (min-width: 48em) {
    .comment__main {
        min-width:calc(100% - 80px)
    }
  }
  
  .comment__meta {
    margin-bottom: 1em;
    padding-bottom: .25em;
    border-bottom: 1px solid #ccc;
  }
  
  .comment__message {
    font-size: .9em
  }
  
  .comment__message>:last-child {
    margin-bottom: 0
  }
  
  .comment__message img {
    max-width: 100%
  }
  
  .comment__reply {
    margin-top: .5em;
  }
  
  .comment__form {
    margin-bottom: 2.9rem
  }
  
  .comment__form .title {
    margin-top: 2.9rem
  }
  
  #cancel-comment-reply-link {
    float: right;
  }

